# Exercício Parte 1 - ETL e ELT

1 - Crie um Processo utilizando a estratégia de ETL para carregar os dados da base payments em um sistema de armazenamento onde deverá ser aplicada uma regra de negócio que conte quantos pagamentos foram realizados através de cada meio de pagamento.

In [24]:
import pandas as pd

df_read = pd.read_csv('aula1_olist_order_payments_dataset.csv')
df = df_read

In [36]:
df_sum = df.groupby('payment_type').count().reset_index().iloc[:,0:2].rename(columns={'order_id':'count'})
df_sum.head()

  payment_type  count
0       boleto  19784
1  credit_card  76795
2   debit_card   1529
3  not_defined      3
4      voucher   5775

In [37]:
df_sum.to_csv('aula1_output_ETL.csv', index=False, sep=',', mode='w')

2 - Utilize-se do exemplo anterior, aplicando a estratégia de ELT

In [50]:
#Extract
df_raw = pd.read_csv('aula1_olist_order_payments_dataset.csv')
df_raw.to_csv('aula1_ELT_RAW_output.csv', index=False)

In [51]:
#Load
df_load = pd.read_csv('aula1_ELT_RAW_output.csv')

In [54]:
#Transform
df_transform = df_load.groupby('payment_type').count().reset_index().iloc[:,0:2].rename(columns={'order_id':'count'})
df_transform.head()

  payment_type  count
0       boleto  19784
1  credit_card  76795
2   debit_card   1529
3  not_defined      3
4      voucher   5775

In [55]:
df_transform.to_csv('aula1_output_ELT_TRANSFORM_output.csv', index=False, sep=',', mode='w')