In [1]:
# manipulação com arquivos
import pandas as pd

In [2]:
%%writefile simple.csv
a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

Writing simple.csv

In [3]:
df = pd.read_csv('simple.csv')
# sep=";"
# names=['coluna1','coluna2','coluna3'...]
# index_col='index1_'

In [ ]:
df = pd.read_excel('arquivo.xlsx')
df = df.drop["Unnamed: 0", axis=1] #elimina uma coluna que pode ter vindo com problema

In [ ]:
df.describe() #traz as pricinpais informações do dataframe

df.sort_values(by=['Movie Rating'], ascending=False)

df_new = df[(df['column'] == 2000)].sort_values(by=['Movie Rating'], ascending=False)
df_new.to_excel('filmes_novo.xlsx')

In [ ]:
df = pd.read_parquet()

#aplicando máscara

df = df[(df['coluna1'] == 'Texas') | (df['coluna2'] == 'valor2')]

df.mean()

df.to_parquet('arquivo.parquet')

In [4]:
#como criar uma barra de progresso para carregamento e salvamento

from tqdm import tqdm

for i in tqdm(range(1)):
    df.to_parquet('arquivo.parquet')

In [7]:
### exercícios
#1
import pandas as pd
import numpy as np

df = pd.read_csv('WorldCups.csv', index_col='Year')

#df.describe()
df.head()

,Country,Winner,RunnersUp,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
Year,,,,,,,,,
1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607