In [1]:
import pandas as pd
import numpy as np

In [3]:
indice = [0,1,3]
valores = np.arange(3)

serie = pd.Series(valores, index=indice) #cria uma serie (pd) com valores e indices definidos

print(serie)

0    0
1    1
3    2
dtype: int32

In [4]:
serie_reindex = serie.reindex([4,3,2,1,0])
print(serie_reindex)

4    NaN
3    2.0
2    NaN
1    1.0
0    0.0
dtype: float64

In [8]:
series_mask_NaN = pd.isna(serie_reindex) #nan not a number
print(series_mask_NaN)
serie_reindex[series_mask_NaN] = -1
print(serie_reindex)

4     True
3    False
2     True
1    False
0    False
dtype: bool
4   -1.0
3    2.0
2   -1.0
1    1.0
0    0.0
dtype: float64

In [10]:
indice = [0,1,3]
valores = np.arange(3)

serie = pd.Series(valores, index=indice)
serie_reindex = serie.reindex([4,3,2,1,0], fill_value=-1) #re index com substituição de NaN

print(serie_reindex)

4   -1
3    2
2   -1
1    1
0    0
dtype: int32

In [19]:
values_s1 = [3,8,0,4,5]
index_s1 = ['id' + str(i) for i in values_s1]

s1 = pd.Series(values_s1, index=index_s1)

print(s1)

id3    3
id8    8
id0    0
id4    4
id5    5
dtype: int64

In [18]:
values_s2 = [3,9,8,5]
index_s2 = ['id' + str(i) for i in values_s2]

s2 = pd.Series(values_s2, index = index_s2)
print(s2)

id3    3
id9    9
id8    8
id5    5
dtype: int64

In [20]:
print(s1+s2)

id0     NaN
id3     6.0
id4     NaN
id5    10.0
id8    16.0
id9     NaN
dtype: float64

In [24]:
r = pd.Series(np.random.randint(0,10,4), index = ['d', 'a', 'b', 'c'])
print(r)

print(r.sort_index()) #ordena pelos rotulos
#print(r.sort_values()) #ordedna pelos valores
print(r)

d    1
a    0
b    1
c    5
dtype: int32
a    0
d    1
b    1
c    5
dtype: int32
d    1
a    0
b    1
c    5
dtype: int32

In [ ]:
s = pd.Series(np.arange(7), index='abcdabc') #<----- aqui está com erro
print(s)

s.unique #valores unicos
s.value_counts #count
s.isin(['b','d'])

In [27]:
# dataframes
d = {'state': ['FL', 'FL', 'GA', 'GA', 'GA', 'FL', 'FL'],
     'year': [2010,2011,2010,2011,2013,2009,2014],
     'pop': [17.2,11.4,12.6,12.4,12.6,6.5,12.2]}

df_d = pd.DataFrame(d)
print(df_d)

  state  year   pop
0    FL  2010  17.2
1    FL  2011  11.4
2    GA  2010  12.6
3    GA  2011  12.4
4    GA  2013  12.6
5    FL  2009   6.5
6    FL  2014  12.2

In [31]:
df_d.head() # mostra as primeiras 5 linhas do dataframe

  state  year   pop
0    FL  2010  17.2
1    FL  2011  11.4
2    GA  2010  12.6
3    GA  2011  12.4
4    GA  2013  12.6

In [32]:
df_d.dtypes

state     object
year       int64
pop      float64
dtype: object

In [33]:
dod = {'FL': {2010:15.4, 2011:45.3},
       'CA': {2010:13.6, 2011:34.9}}

df_dod = pd.DataFrame(dod)
print(df_dod)

        FL    CA
2010  15.4  13.6
2011  45.3  34.9