In [1]:
import pandas as pd

In [2]:
%%writefile missing.csv
Colorado,,,,
Ohio,3,5,6,9
Oregon,,,,
Texas,9,12,,
Utah,,,,

Writing missing.csv

In [3]:
df = pd.read_csv('missing.csv', header=None)

In [4]:
print(df)

          0    1     2    3    4
0  Colorado  NaN   NaN  NaN  NaN
1      Ohio  3.0   5.0  6.0  9.0
2    Oregon  NaN   NaN  NaN  NaN
3     Texas  9.0  12.0  NaN  NaN
4      Utah  NaN   NaN  NaN  NaN

In [5]:
#ISNULL
print(df.isnull())

       0      1      2      3      4
0  False   True   True   True   True
1  False  False  False  False  False
2  False   True   True   True   True
3  False  False  False   True   True
4  False   True   True   True   True

In [6]:
#DROPNA
print(df.dropna())

      0    1    2    3    4
1  Ohio  3.0  5.0  6.0  9.0

In [15]:
#print(df.dropna(how='all'))
#print(df.dropna(how='any', axis=1))
print(df.dropna(thresh=2)) # defini o m√≠nimo de NAN para dropar

       0    1     2    3    4
1   Ohio  3.0   5.0  6.0  9.0
3  Texas  9.0  12.0  NaN  NaN

In [ ]:
# df.reset_index(drop='True')